version: "3.8"
services:
  binance-producer:
    build: ../  # adjust path relative to compose file
    container_name: binance-producer
    env_file: ../.env
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - SYMBOLS=${SYMBOLS}
      - WS_STREAM_TYPE=${WS_STREAM_TYPE}
      - PROMETHEUS_PORT=${PROMETHEUS_PORT}
      - KAFKA_METRICS_TOPIC=${KAFKA_METRICS_TOPIC}
      - METRICS_PUSH_TO_KAFKA=${METRICS_PUSH_TO_KAFKA}
    depends_on:
      - kafka
    network_mode: bridge
    restart: unless-stopped
    ports:
      - "${PROMETHEUS_PORT}:${PROMETHEUS_PORT}"
